services:
  mongo:
    image: mongo:7
    container_name: food_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  mongo-express:
    image: mongo-express:1
    container_name: food_mongo_express
    depends_on:
      - mongo
    environment:
      - ME_CONFIG_MONGODB_URL=mongodb://mongo:27017
      - ME_CONFIG_BASICAUTH=false
    ports:
      - "8081:8081"

volumes:
  mongo_data:
